.skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.skills{
  background-color: #1e1e1e;
}

.skill-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 8px 12px;
  /* background-color: #2a2a2a; Optional: Add a background color */
  border-radius: 8px; /* Slightly rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Logo styling */
.skill-logo {
  width: 30px; /* Adjust size as needed */
  height: auto;
  margin-right: 8px;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

/* Hover effect on skill items */
.skill-item:hover {
  background-color: #3b3b3b; /* Darken background slightly on hover */
  transform: scale(1.05); /* Slightly enlarge the entire item */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Hover effect on the logo */
.skill-item:hover .skill-logo {
  transform: scale(1.1); /* Slightly enlarge the logo */
}
